<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="UserNameApi" value="hieupx3"/>
		<add key="PasswordApi" value="hieupx3"/>
		<add key="UrlApi" value="https://localhost:7262/api/"/>
		<add key="WebAppUrl" value="http://localhost:8022"/>
	</appSettings>
</configuration>