@using VINMediaCaptureEntities
@model  SortAndPageModel
@{
    var pager = Model;

    //Xu ly them
    int pBegin = 0;
    int pEnd = 10;
    if (pager != null)
    {
        pBegin = pager.PageSize * (pager.CurrentPageIndex - 1) + 1;
        pEnd = pager.CurrentPageIndex * pager.PageSize;
        if (pEnd > pager.TotalRecordCount)
        {
            pEnd = pager.TotalRecordCount;
        }
        if (pager.TotalRecordCount == 0)
        {
            pBegin = 0;
        }
    }
}
<div class="row">
    <div class="col-md-5" style="margin-top: 20px;">
        @if (pager != null)
        {
        <span>Hiển thị @pBegin - @pEnd / @pager.TotalRecordCount bản ghi.</span>
        }
    </div>
    <div class="col-md-7">
        @if (pager != null && pager.TotalRecordCount > pager.PageSize)
        {
            <div class="dataTables_paginate paging_bootstrap_full_number" id="sample_1_paginate" style="text-align: right;">
                @Html.Raw(pager.GenPaging())
            </div>
        }
    </div>
</div>
